<h4>Internal Server Error.  Refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">Note to Developers: If you see this page, Angular is probably not the reason.</p>
  <p>What's next?</p>
  <ol>
    <li>Open the Dev Tools and check the failing request in the Network tab.</li>
    <li>Examine the request URL.  What API endpoint are you requesting?</li>
    <li>If you can reproduce the error in Postman, then Angular is 100% not the problem.</li>
  </ol>
  <p style="font-weight: bold;">Here's the stack trace:</p>
  <code class="mt-5" style="background-color: whitesmoke">
    {{ error.details }}
  </code>
</ng-container>
